body {
    padding: 0;
    background-color: rgba(100, 148, 237, 0.534);
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 300px;
    height: 200px;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
}

.infoslil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotosmusics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
}

footer>section {
    display: flex;
}

.bloco {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}